@import 'fonts';
@import './helpers/helpers';
@import './marker';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: $color-black;
  color: $color-white;
}

.container {
  min-height: 100vh;
  max-width: 1200px;
  margin: 50px auto;
  border: 2px solid $color-white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.h1,
.h2,
.h3 {
  line-height: 120%;
  font-family: 'ST-SimpleSquare', sans-serif;
}

.h1,
.h2 {
  color: $color-accent;
}

.h1 {
  font-size: 46px;
}

.h2 {
  font-size: 30px;
}

.h3 {
  font-size: 22px;
}

.text {
  line-height: 170%;
  color: $color-white-50;
}

a {
  text-decoration: none;
}
